body{
    margin:0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-width: 300px;
}
input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid #1c38c6;
    margin-bottom: 4px;
}
button{
    background-color: #4073ad;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #1c38c6;
    font-weight: bold;
    border-radius: 10px;
    
}
#input-btn{
    margin-right: 10px;
}
#tab-btn{
    margin-right: 10px;
}
#delete-btn{
    background-color: white;
    color: #1c38c6;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #1c38c6;
    font-weight: bold;
    margin-top: 10px;
}
ul{
    margin-top: 20px;
    color: #4073ad;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
    color: #4073ad;
    text-align: left;
}
li a{
    color: #4073ad;
}
/* #summa{
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0%;
    padding-top: 0%;
    border-radius: 100%;
    font-weight: bold;
    font-size: large;
} */